@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
* {
  padding: 0rem;
  margin: 0rem;
  border: 0rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 17.77778rem;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

img {
  max-width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%; }

.container {
  width: 95%;
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  padding: 0 10px 0 10px; }

.intro {
  background-color: #F5F5F5;
  position: relative; }
  .intro::after {
    content: '';
    width: 2.55556rem;
    height: 0.55556rem;
    background-color: #C4C4C4;
    position: absolute;
    bottom: -0.16667rem;
    left: 81%;
    -webkit-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    transform: rotate(320deg); }

.main-intro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media screen and (max-width: 768px) {
  .left-block-promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; } }

.promo__title {
  margin-top: -5rem;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 2.66667rem;
  line-height: 2.88889rem;
  text-transform: uppercase;
  color: #292929;
  padding-right: 20%; }
  @media screen and (max-width: 768px) {
    .promo__title {
      padding: 0 8%; }
      .promo__title::before {
        content: url("../img/hello/beatstablet.png"); } }
  @media screen and (max-width: 480px) {
    .promo__title {
      padding: 0 4%;
      font-size: 1.77778rem;
      line-height: 2rem; } }

.promo__subtitle {
  margin-top: 1.33333rem;
  color: #000000;
  font-family: Play;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38889rem;
  max-width: 18.44444rem;
  margin-bottom: 2.77778rem; }
  @media screen and (max-width: 480px) {
    .promo__subtitle {
      line-height: 1.11111rem;
      margin-bottom: 1.44444rem;
      margin-top: 0.77778rem; } }

.promo__button {
  padding: 1rem 2.27778rem;
  background-color: #E01F3D;
  border-radius: 5.55556rem;
  width: 9.05556rem;
  height: 3rem;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffff;
  margin-bottom: 5.27778rem; }

.left-block-advantages {
  width: 50%;
  padding: 0rem 0 2.22222rem 0.77778rem; }
  @media screen and (max-width: 768px) {
    .left-block-advantages {
      width: 100%; } }

.left-block-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: 0.44444rem; }
  @media screen and (max-width: 768px) {
    .left-block-items {
      display: none; } }
  .left-block-items__img {
    margin-right: 0.61111rem; }

.advantages-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 4.88889rem; }
  .advantages-item__img {
    margin-right: 0.44444rem; }
  .advantages-item__text {
    font-family: Play;
    font-size: 0.88889rem;
    line-height: 1rem;
    color: #292929; }

.right-block {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  right: 1.11111rem;
  bottom: 4.44444rem; }
  @media screen and (max-width: 768px) {
    .right-block {
      display: none; } }

.intro-list-items {
  list-style-type: none;
  position: fixed;
  right: 5%;
  top: 40%; }
  @media screen and (max-width: 768px) {
    .intro-list-items {
      display: none; } }
  .intro-list-items__item {
    width: 1.11111rem;
    height: 1.11111rem;
    border-radius: 50%;
    border: 0.05556rem solid transparent;
    margin-bottom: 0.77778rem;
    margin-bottom: 0.38889rem;
    position: relative; }
    .intro-list-items__item:hover::after, .intro-list-items__item.active::after {
      background-color: #E01F3D; }
    .intro-list-items__item::after {
      content: '';
      width: 0.33333rem;
      height: 0.33333rem;
      background-color: #ACACAC;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .intro-list-items__item.active, .intro-list-items__item:hover {
      border-color: #E01F3D; }

.header {
  padding: 1.22222rem 0rem 2.61111rem 0rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.img__link {
  margin-right: 2.11111rem; }

@media screen and (max-width: 768px) {
  .header-nav {
    display: none; } }

.header-nav-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.list-item {
  margin-right: 1.5rem; }
  .list-item__link {
    font-family: Alegreya Sans;
    font-size: 1rem;
    line-height: 1.11111rem;
    color: #292929;
    white-space: nowrap; }

.contacts {
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .contacts.head {
      display: none; } }
  .contacts__phone {
    font-family: Play;
    font-size: 1.16667rem;
    line-height: 1rem;
    color: #292929;
    white-space: nowrap; }

.features {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5.55556rem 0 5rem 0; }
  .features__title {
    font-family: Play;
    font-weight: bold;
    font-size: 2.66667rem;
    line-height: 2.88889rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    @media screen and (max-width: 480px) {
      .features__title {
        font-size: 1.77778rem;
        line-height: 2rem; } }
  .features__subtitle {
    padding: 0 11.11111rem;
    font-family: Play;
    font-size: 0.88889rem;
    line-height: 1.05556rem;
    text-align: center;
    color: #666666;
    margin-bottom: 3.44444rem; }
    @media screen and (max-width: 768px) {
      .features__subtitle {
        padding: 0 5rem; } }
    @media screen and (max-width: 480px) {
      .features__subtitle {
        padding: 0 1.66667rem; } }
  .features::before {
    content: url(../img/features/triangle.svg);
    position: absolute;
    bottom: -1.11111rem;
    left: 4%; }

.features-items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .features-items:last-child::before {
    display: none; }
  @media screen and (max-width: 480px) {
    .features-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 666px) {
    .features-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.features-item {
  text-align: center;
  position: relative;
  padding: 0 1%; }
  @media screen and (max-width: 480px) {
    .features-item {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 666px) {
    .features-item {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .features-item__img {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 50%;
    background-color: #F2F5F4;
    width: 7.11111rem;
    height: 7.11111rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.33333rem; }
    @media screen and (max-width: 480px) {
      .features-item__img {
        margin-right: 12px; } }
    @media screen and (max-width: 666px) {
      .features-item__img {
        margin-right: 12px; } }
  .features-item__title {
    font-family: Play;
    font-weight: bold;
    font-size: 1.33333rem;
    line-height: 1.55556rem;
    text-align: center;
    color: #292929;
    margin-bottom: 0.38889rem;
    white-space: nowrap; }
    @media screen and (max-width: 480px) {
      .features-item__title {
        text-align: left; } }
    @media screen and (max-width: 666px) {
      .features-item__title {
        text-align: left; } }
  .features-item__subtitle {
    font-family: Play;
    font-size: 0.88889rem;
    line-height: 1.05556rem;
    text-align: center;
    color: #666666;
    max-width: 13.72222rem; }
    @media screen and (max-width: 480px) {
      .features-item__subtitle {
        text-align: left; } }
    @media screen and (max-width: 666px) {
      .features-item__subtitle {
        text-align: left; } }
  .features-item:before {
    position: absolute;
    top: 3.05556rem;
    right: -3.22222rem;
    content: url(../img/features/circles.svg); }
    @media screen and (max-width: 768px) {
      .features-item:before {
        display: none; } }
  .features-item :first-child {
    padding-right: 0; }
  .features-item :last-child:before {
    display: none; }

.features-item:last-child::before {
  display: none; }

.card {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F8FAF9;
  padding: 5.27778rem 0; }

.card-wrapper {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 768px) {
    .card-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.product-slider__arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  border-radius: 2px; }

.product-slider__arrow-prev {
  position: absolute;
  left: 0;
  bottom: 50%;
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }
  @media screen and (max-width: 768px) {
    .product-slider__arrow-prev {
      left: 0;
      bottom: 70%; } }

.product-slider__arrow-next {
  position: absolute;
  right: 0;
  bottom: 50%;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }
  @media screen and (max-width: 768px) {
    .product-slider__arrow-next {
      right: 0;
      bottom: 70%; } }

.card-img-block {
  margin-right: 3.33333rem;
  width: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  @media screen and (max-width: 768px) {
    .card-img-block {
      margin-bottom: 45px;
      margin-right: 0px;
      width: 100%; } }
  .card-img-block__img {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    @media screen and (max-width: 768px) {
      .card-img-block__img {
        width: 306px;
        height: 306px; } }

.card-block {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .card-block {
      width: auto;
      text-align: center; } }
  .card-block__ingredients {
    position: relative;
    margin-bottom: 1.38889rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #9A9A9A;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 0.22222rem;
    width: 5.05556rem;
    height: 5.05556rem; }
    @media screen and (max-width: 768px) {
      .card-block__ingredients {
        display: none; } }
  .card-block__title {
    font-family: Play;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.33333rem;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 1.33333rem; }
    @media screen and (max-width: 768px) {
      .card-block__title {
        font-size: 1.55556rem; } }
  .card-block__subtitle {
    font-family: Play;
    font-size: 0.88889rem;
    line-height: 1.05556rem;
    color: #666666;
    margin-bottom: 1.33333rem; }

.ingredients-components {
  position: absolute;
  left: -99999px;
  top: 0;
  opacity: 0;
  width: 15.16667rem;
  background-color: #D3D3D3;
  padding: 18px 14px 24px 14px;
  border-radius: 4px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.card-block__ingredients:hover .ingredients-components {
  opacity: 1;
  left: 100%; }

.ingredients-components-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  .ingredients-components-item__img {
    margin-right: 12px; }
  .ingredients-components-item__text {
    font-family: Play;
    font-size: 16px;
    line-height: 24px; }
    .ingredients-components-item__text.left {
      margin-left: auto; }

.card-block-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 768px) {
    .card-block-options {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.card-options-card {
  margin-right: 2.44444rem; }

.options-card__title {
  font-family: Play;
  font-size: 0.88889rem;
  line-height: 1.05556rem;
  color: #666666; }

.options-card__subtitle {
  font-family: Play;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.16667rem;
  color: #000000;
  margin-bottom: 1.33333rem; }

.card-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 768px) {
    .card-price {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .card-price__text {
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.33333rem;
    text-transform: uppercase;
    color: #151515; }

.card__button {
  background-color: #E01F3D;
  border-radius: 5.55556rem;
  width: 9.05556rem;
  height: 3rem;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffff;
  margin-left: 0.66667rem; }
  @media screen and (max-width: 768px) {
    .card__button {
      margin-left: 1.66667rem; } }

.reviews {
  padding: 64px 0 64px 0;
  height: 100vh; }
  .reviews__display {
    background-color: #F8FAF9;
    padding: 42px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative; }
    .reviews__display::before {
      content: '';
      width: 90px;
      height: 90px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      top: -65px; }
  .reviews__list {
    position: relative;
    min-height: 348px; }
  .reviews__item {
    position: absolute;
    opacity: 0; }
    .reviews__item.active {
      position: static;
      opacity: 1;
      pointer-events: unset; }
  .reviews__display-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .reviews__display-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; } }
  .reviews__avatar {
    width: 253px;
    height: 264px; }
    @media screen and (max-width: 768px) {
      .reviews__avatar {
        width: 130px;
        height: 130px;
        text-align: center; } }
  .reviews__avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .reviews__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 40px; }
    @media screen and (max-width: 768px) {
      .reviews__content {
        margin: auto; } }
  .reviews__title {
    margin-bottom: 26px;
    font-family: Play;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px; }
  .reviews__text {
    font-family: Play;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 38px; }
  .reviews__author {
    font-family: Play;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px; }
  .reviews__switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.section__title {
  font-family: Play;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase; }

.reviews__switcher-item {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .reviews__switcher-item.active {
    border-color: #E01F3D; }

.reviews-switcher__pic {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.reviews-switcher__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.form-section {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title {
  font-family: Play;
  font-weight: bold;
  font-size: 2.66667rem;
  line-height: 2.88889rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.33333rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      margin-bottom: 1.94444rem; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 32px;
      line-height: 36px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.11111rem; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 18%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0%; } }
  .form:last-child {
    margin-right: 0; }
  .form__col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 1.11111rem; }
    @media screen and (max-width: 768px) {
      .form__col {
        margin-right: 0rem; } }
    .form__col:last-child {
      margin-right: 0; }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.44444rem; }
    @media screen and (max-width: 768px) {
      .form__row {
        margin-bottom: 1.11111rem; } }
  .form__block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px; }
    .form__block:last-child {
      margin-right: 0; }
  .form__title {
    font-family: Play;
    font-size: 0.88889rem;
    line-height: 1.05556rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 0.33333rem; }
  .form__input {
    width: 100%;
    border: none;
    padding: 1rem 0.61111rem;
    border: solid 0.16667rem transparent;
    border-radius: 0.22222rem; }
    @media screen and (max-width: 768px) {
      .form__input {
        padding: 0.33333rem 0.44444rem; } }
    .form__input:focus {
      border-color: #E01F3D;
      outline: none; }
  .form__input--textarea {
    height: 10rem;
    resize: none;
    border-radius: 0.22222rem; }
    @media screen and (max-width: 768px) {
      .form__input--textarea {
        height: 4.55556rem; } }

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .form__controls {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0.83333rem;
  margin-right: 0.88889rem; }
  @media screen and (max-width: 768px) {
    .radio {
      margin-bottom: 1.55556rem; } }
  .radio--checkbox {
    margin-bottom: 2.5rem; }
    .radio--checkbox .radio__visible {
      border-radius: 0.22222rem; }
      .radio--checkbox .radio__visible::before {
        background: url(../img/form/Vector.svg) center center no-repeat; }
  .radio__elem {
    display: none; }
    .radio__elem:checked ~ .radio__visible::before {
      display: block; }
  .radio__visible {
    width: 1.44444rem;
    height: 1.44444rem;
    position: relative;
    background: #fff;
    border-radius: 50%; }
    .radio__visible::before {
      content: "";
      width: 0.77778rem;
      height: 0.77778rem;
      background-color: #E01F3D;
      border-radius: 50%;
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .radio__title {
    font-family: Play;
    font-size: 0.88889rem;
    line-height: 1.05556rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    margin-left: 0.55556rem; }
    @media screen and (max-width: 768px) {
      .radio__title {
        margin-left: 1rem; } }

@media screen and (max-width: 768px) {
  .form__btns {
    text-align: center; } }

.btn {
  background-color: #E01F3D;
  width: 9.05556rem;
  height: 3.33333rem;
  border-radius: 5.55556rem;
  color: #FFFFFF;
  font-family: Play;
  font-weight: bold;
  font-size: 0.88889rem;
  line-height: 1rem;
  color: #FFFFFF;
  margin-right: 0.83333rem; }
  .btn.reset {
    background: transparent;
    width: 3.88889rem;
    height: 1.11111rem;
    font-family: Play;
    font-weight: normal;
    font-size: 0.88889rem;
    line-height: 1.05556rem; }
    @media screen and (max-width: 768px) {
      .btn.reset {
        color: #E01F3D; } }

.hamburger {
  width: 24px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none;
  margin-left: auto;
  margin-right: 1.94444rem;
  cursor: pointer;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  .hamburger__plank {
    display: block;
    background: #292929;
    height: 4px;
    border-radius: 10px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer; }

.hamburger.button_container--active {
  opacity: 0.7; }

.hamburger__plank--top:active {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  -ms-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px;
  background-color: #C2C2C3; }

.hamburger__plank--middle:active {
  opacity: 0; }

.hamburger__plank--bottom:active {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  border-radius: 5px;
  background-color: #C2C2C3; }

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }

.overlay.overlay--open {
  opacity: .99;
  visibility: visible;
  height: 100%; }

.overlay.overlay--open .overlay-menu__item {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s; }

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center; }
  .overlay-menu__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block; }
  .overlay-menu__item {
    display: block;
    position: relative;
    line-height: 1;
    opacity: 0; }
  .overlay-menu__link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-family: Play;
    font-size: 36px;
    line-height: 72px;
    color: #FFFFFF; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.body-active-menu {
  overflow: hidden; }

.btn-close {
  color: #fff;
  font-size: 24px;
  font-family: Helvetica; }

.map__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.contacts-footer {
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.11111rem 3rem 1.11111rem 4.77778rem;
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 1.66667rem 2rem 1.66667rem 1.66667rem; } }
  @media screen and (max-width: 480px) {
    .footer {
      display: block;
      text-align: center; } }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 480px) {
    .footer-container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer-contacts__text {
  font-family: Play;
  font-size: 18px;
  line-height: 24px;
  color: #292929; }
  @media screen and (max-width: 480px) {
    .footer-contacts__text {
      margin-bottom: 12px;
      margin: auto; } }

@media screen and (max-width: 480px) {
  .contacts {
    margin-left: 0%;
    margin-bottom: 20px; } }

@media screen and (max-width: 768px) {
  .contacts__phone {
    color: #E01F3D; } }

@media screen and (max-width: 480px) {
  .contacts__phone {
    color: #292929; } }

@media screen and (max-width: 480px) {
  .fot {
    text-align: center;
    color: #292929; } }

@media screen and (max-width: 768px) {
  .contacts__phone-img.fott {
    display: none; } }

@media screen and (max-width: 480px) {
  .contacts__phone-img.fott {
    display: inline-block; } }

@media screen and (max-width: 480px) {
  .footer-socials {
    margin: auto; } }

.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  margin: auto; }
  @media screen and (max-width: 480px) {
    .footer-socials__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  fill: #B3B3B3; }
  @media screen and (max-width: 480px) {
    .social-icon {
      margin-left: 14px; } }
  .social-icon.active {
    fill: #000000; }
  .social-icon:hover {
    fill: #000000; }

.phone-icon {
  width: 14px;
  height: 15px; }
  @media screen and (max-width: 768px) {
    .phone-icon {
      fill: #E01F3D; } }
  @media screen and (max-width: 480px) {
    .phone-icon {
      fill: #292929; } }

.team {
  height: 100vh;
  padding: 72px 80px 50px 80px; }
  .team__title {
    font-family: Play;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff; }

.team-list-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-item {
  position: relative;
  margin-right: 20px; }

.team-member {
  height: 290px;
  width: 220px; }

.team-content {
  position: absolute;
  top: 100%;
  overflow: hidden;
  height: 0; }
  .team-content__title {
    font-family: Play;
    font-size: 16px;
    line-height: 19px;
    text-align: center; }
  .team-content__subtitle {
    font-family: Play;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #666666; }
