.features {
    position: relative;
    @include height100();
    padding: rem(100px) 0 rem(90px) 0;

    &__title {
        font-family: Play;
        font-weight: bold;
        font-size: rem(48px);
        line-height: rem(52px);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: rem(18px);

        @include phones {

            font-size: rem(32px);
            line-height: rem(36px);
        }
    }

    &__subtitle {
        padding: 0 rem(200px);
        font-family: Play;
        font-size: rem(16px);
        line-height: rem(19px);
        text-align: center;
        color: #666666;
        margin-bottom: rem(62px);

        @include tablets {
            padding: 0 rem(90px);
        }

        @include phones {
            padding: 0 rem(30px);
        }




    }

    &::before {
        content: url(../img/features/triangle.svg);
        position: absolute;
        bottom: rem(-20px);
        left: 4%;
    }
}

.container {}

.features-items {
    @include flexbox();
    justify-content: space-between;

    &:last-child {
        &::before {
            display: none;
        }

    }

    @include phones {
        flex-direction: column;
    }

    @include features {
        flex-direction: column;
    }
}

.features-item {

    text-align: center;
    position: relative;
    padding: 0 1%;


    @include phones {
        text-align: center;
        display: flex;
        justify-content: center;

    }

    @include features {
        text-align: center;
        display: flex;
        justify-content: center;
    }



    &__img {
        display: inline-flex;
        border-radius: 50%;
        background-color: #F2F5F4;
        width: rem(128px);
        height: rem(128px);
        align-items: center;
        justify-content: center;
        margin-bottom: rem(24px);

        @include phones {
            margin-right: 12px;
        }

        @include features {
            margin-right: 12px;
        }

    }

    &__title {
        font-family: Play;
        font-weight: bold;
        font-size: rem(24px);
        line-height: rem(28px);
        text-align: center;
        color: #292929;
        margin-bottom: rem(7px);
        white-space: nowrap;

        @include phones {
            text-align: left;
        }

        @include features {
            text-align: left;
        }

    }

    &__subtitle {
        font-family: Play;
        font-size: rem(16px);
        line-height: rem(19px);
        text-align: center;
        color: #666666;
        max-width: rem(247px);

        @include phones {
            text-align: left;

        }

        @include features {
            text-align: left;
        }


    }

    &:before {
        position: absolute;
        top: rem(55px);
        right: rem(-58px);
        content: url(../img/features/circles.svg);

        @include tablets {
            display: none;
        }

    }



    & :first-child {
        padding-right: 0;
    }

    & :last-child {
        &:before {
            display: none;
        }
    }


}

.features-item-text {}

.features-item:last-child::before {
    display: none;
}