.hamburger {
    width: 24px;
    height: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    margin-left: auto;
    margin-right: rem(35px);
    cursor: pointer;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;
    z-index: 100;



    @include tablets {
        display: inline-flex;
    }

    &__plank {
        display: block;
        background: #292929;
        height: 4px;
        border-radius: 10px;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
        cursor: pointer;
    }
}

.hamburger.button_container--active {
    opacity: 0.7;

}

.hamburger__plank--top:active {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    -ms-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    border-radius: 5px;
    background-color: #C2C2C3;
}

.hamburger__plank--middle:active {
    opacity: 0;
}

.hamburger__plank--bottom:active {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    border-radius: 5px;
    background-color: #C2C2C3;
}

.overlay {
    position: fixed;
    background: #2e3133;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    -o-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.overlay--open {
    opacity: .99;
    visibility: visible;
    height: 100%;
}

.overlay.overlay--open .overlay-menu__item {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay-menu {

    position: absolute;
    height: 70%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
    }

    &__item {
        display: block;
        position: relative;
        line-height: 1;
        opacity: 0;
    }

    &__link {
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        font-family: Play;
        font-size: 36px;
        line-height: 72px;
        color: #FFFFFF;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

.body-active-menu {
    overflow: hidden;
}

.btn-close {
    color: #fff;
    font-size: 24px;
    font-family: Helvetica;
}